---
---
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

$section-headings-color: #43a047 !default;
$body-link-color: #00a1ff !default;
$body-text-color: #464f53 !default;
$blockquote-text-color: #819198 !default;

$code-bg-color: #f3f6fa !default;
$code-text-color: #567482 !default;

$border-color: #dce6f0 !default;
$table-border-color: #e9ebec !default;
$hr-border-color: #eff0f1 !default;

body {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;font-size:16px;line-height:1.5;color:#464f53
}

a:hover { text-decoration: underline !important;}

@import "{{ site.theme }}";
